* {
  box-sizing: border-box;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.ant-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: black;
  border: 1px solid white;
}

.ant-tile .ant {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blueviolet;
}

.ant-white-tile {
  background-color: aliceblue;
}

.btn-group {
  display: flex;
}

.btn-reset {
  width: 150px;
  height: 40px;
  color: slategrey;
  background-color: aliceblue;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 10px;
}

.btn-reset-random {
  width: auto;
  padding: 0 10px;
  margin-right: 0;
}

@media screen and (min-width: 750px) {
  .grid-container {
    width: 500px;
  }
  
  .ant-tile {
    width: 50px;
    height: 50px;
  }
  
  .ant-tile .ant {
    width: 20px;
    height: 20px;
  }
}
